@import "tailwindcss";

@theme {
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;
}

* {
    font-family: "Inter", sans-serif;
}

.font-playfair {
    font-family: "Playfair", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}
